BASE_URL=
HTTP_PORT=
# DATABASE
DB_DSN=
#Basic Auth
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
# Mode
IDENTIFIER=session # session | cookie | jwt
#COOKIE
COOKIE_NAME=
COOKIE_SECRET_KEY=
# JWT
JWT_SECRET_KEY=
JWT_EXPIRY_DURATION=1
# Session
SESSION_HEADER_NAME=X-Session-ID
